*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
a {
    position: relative;
    cursor: pointer;
}
a:active {
    top: 1px;
}
a, a:hover, a:visited, a:active, a:focus {
    outline: none;
    text-decoration: none;
}
button {
    width: 70px;
    height: 85px;
    outline: none;
    padding-top: 60px;
}
#keyA {
    background: #ffffff url("../img/hihat.jpg") no-repeat top ;
}
#keyS {
    background: #ffffff url("../img/snare.jpg") no-repeat center ;
}
#keyD {
    background: #ffffff url("../img/openHat.jpg") no-repeat top ;
}
#keyJ {
    background: #ffffff url("../img/crash.jpg") no-repeat top ;
}
#keyK {
    background: #ffffff url("../img/kick.jpg") no-repeat top ;
}
#keyL {
    background: #ffffff url("../img/ride.jpg") no-repeat top ;
}
